/* simple reset */
*, *::after, *::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    min-height: 100vh;
    background-color: rgb(58, 89, 228);
    font-family: 'Anek Telugu', sans-serif;
    color: white;
    overflow: hidden;
}
img, picture, svg, video {
    display: block;
    max-width: 100%;
}
input, textarea, button,  select {
    font: inherit;
}
#app {
    max-width: 1440px;
    margin: auto;
}
/* Typography */
.title {
font-family: 'Luckiest Guy', cursive;
font-weight: 400;
font-size: 7.5rem;
text-align: center;
margin-top: 3rem;
text-shadow: 5px 5px #000000;
}
.intro-text {
    text-align: center;
    margin-top: .5rem;
}
.sub-heading {
    margin-top: .75rem;
    font-size: 1.25rem;
    font-weight: 600;
}
.event-name {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: italic;
    color: rgb(248, 218, 47);
}
.the-month {
    font-weight: 100;
    font-size: .75rem;
    color: rgb(248, 218, 47);
}
.the-memory {
    margin-top: .5rem;
    font-size: 1rem;
    padding: 0 2rem;
}
.slideshow-container {
    position: relative;
    overflow: hidden;
    margin: auto;
    align-content: center;
    width: 23rem;
    height:40rem;

}
.mySlides {
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    height:31rem;
    background-color: rgb(80, 109, 239);
    margin: 1rem;
    border-radius: 2rem;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.mySlides.current {
    opacity: 1;
}
.event-photo {
    width: 23rem;
    border-radius: 2rem 2rem 0 0;
    border: 1rem solid rgb(248, 218, 47);
}

/* Left and right buttons */

.buttons button {
    font-size: 3rem;
    color: rgb(117, 173, 238);
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    height: 3rem;
}
.buttons button:hover {
    color: rgb(248, 218, 47);
}
.buttons button#next {
    position: absolute;
    top: 50%;
    right: 35%;
}
.buttons button#next:hover {
    transform: translateX(5px);
    transition: 0.2s ease;
}
.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 35%;
}
.buttons button#prev:hover {
    transform: translateX(-5px);
    transition: 0.2s ease;
}
/* @media (max-width: 1700px) {
    .buttons button#next {
        right: 28%;
    }
    .buttons button#prev {
        left: 28%;
    }
} */

@media (max-width: 1400px) {
    .buttons button#next {
        top:50%;
        right: 30%;
    }
    .buttons button#prev {
        top:50%;
        left: 30%;
    }
}
@media (max-width: 1130px) {
    .title {
        font-size: 6rem;
    }
}
@media (max-width: 1080px) {
    .slideshow-container {
        margin: -.5rem auto 0;
    }
    /* .buttons button {
        margin-top: 0rem;
    } */
    .buttons button#next {
        top: 50%;
        right: 30%;
        transition: all .2s ease-in-out;
    }
    .buttons button#next:hover {
        transform:none;
        transition:none;
    }
    .buttons button#next:active {
        transform: scale(2);
	    transition: .1s;
        color: rgb(248, 218, 47);
    }
    .buttons button#prev:hover {
        transform:none;
        transition:none;
    }
    .buttons button#prev {
        top: 50%;
        left: 30%;
        transition: all .2s ease-in-out;
    }
    .buttons button#prev:active {
        transform: scale(2);
	    transition: .1s;
        color: rgb(248, 218, 47);
    }
}
@media (max-width: 1000px) {
    .title {
        font-size: 5rem;
    }
    .buttons button {
        margin-top: 19rem;
    }
    .buttons button#next {
        right: 24rem;
        transition: all .2s ease-in-out;
    }
    .buttons button#prev {
        left: 24rem;
        transition: all .2s ease-in-out;
    }
}
@media (max-width: 840px) {
    .title {
        font-size: 4rem;
    }
    .buttons button#next {
        top: 50%;
        right: 20rem;
        transition: all .2s ease-in-out;
    }
    .buttons button#prev {
        top: 50%;
        left: 20rem;
        transition: all .2s ease-in-out;
    }
}
@media (max-width: 700px) {

    .buttons button#next {
        /* bottom: -15rem; */
        right: 16rem;
        transition: all .2s ease-in-out;
    }
    .buttons button#prev {
        /* bottom: -19.5rem; */
        left: 16rem;
        transition: all .2s ease-in-out;
    }
}
@media (max-width: 590px) {
    .title {
        font-size: 3rem;
    }
    .buttons button {
        margin-top: 17rem;
    }
    .buttons button#next {
        right: 12rem;
        transition: all .2s ease-in-out;
    }
    .buttons button#prev {
        left: 12rem;
        transition: all .2s ease-in-out;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 2.5rem;
    }
    .slideshow-container {
        margin: -.5rem auto 0;
        width: 25rem;
    }
    .mySlides {
        height: 35rem;
    }
    .buttons button {
        font-size: 1rem;
    }
    .buttons button#next {
        bottom: -19.5rem;
        right: 10rem;
        transition: all .2s ease-in-out;
    }
    .buttons button#next:hover {
        transform:none;
        transition:none;
    }
    .buttons button#next:active {
        transform: scale(2);
	    transition: .1s;
        color: rgb(248, 218, 47);
    }
    .buttons button#prev:hover {
        transform:none;
        transition:none;
    }
    .buttons button#prev {
        bottom: -19.5rem;
        left: 10rem;
        transition: all .2s ease-in-out;
    }
    .buttons button#prev:active {
        transform: scale(2);
	    transition: .1s;
        color: rgb(248, 218, 47);
    }
    
}